{
  // "env": {
	// 	"es6": true,
	// 	"node": true
	// },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "no-var": 2,
    "prefer-const": 2,
    "prefer-arrow-callback": 2,
    "arrow-body-style": 2,
    "import/no-unresolved": 2,
    "import/newline-after-import": "error",
    "react/no-unused-prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": [1, { "forbid": [], "checkContextTypes": true, "checkChildContextTypes": true }]
  },
  "globals": {
    "window": true,
    "navigator": true,
    "document": true
  }
}
