.services {
  .label-container {
    display: flex;

    .label-image {
      width: 20vh;
      height: 20vh;
      margin-right: 2em;
    }

    .label-description {
      flex: 1;

      .label-title {
        font-size: 1.5em;
        margin-bottom: 0.5em;
      }
    }
  }
}
