@import '../containers/App/styles';
@import '../containers/Events/styles';
@import '../components/Header/styles';
@import '../components/Footer/styles';
@import '../components/Separator/styles';
@import '../components/Loading/styles';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  &.nav {
    color: var(--light-color);
    text-transform: none;
    font-size: var(--header-font-size);
  }
}

h2 {
  &.headline {
    margin: 2.5em 0 1.5em 0;
  }
}

p {
  &.headline {
    font-weight: lighter;
    font-size: var(--headline-font-size);
  }

  &.nav {
    color: var(--light-color);
  }
}

.container {
  flex: 1;
  flex-direction: column;
  margin: calc(var(--header-height) + 4em) 0 4em 0;
}

.link {
  cursor: pointer;
  color: var(--primary-color);
}

:root {
  // Colors
  --primary-color: #1c92d2;
  --secondary-color: #f2fcfe;
  --light-color: #fafafa;
  --white-color: white;
  --dark-color: #282c34;

  // Widths
  --container-width: 950px;
  --header-height: 14vh;
  --header-font-size: calc(5px + 2vmin);
  --headline-font-size: calc(10px + 2vmin);
  --space-border: 1em;
  --space-bottom-separator: 30px;
}
