.header {
  top: 0px;
  position: fixed;
  width: 100%;
  display: block;
  padding: 0 var(--space-border);
  background-color: var(--dark-color);

  .header-content {
    display: flex;
    flex: 1;
    height: var(--header-height);
    background-color: var(--dark-color);
    opacity: 1;
    transition: visibility 0s 0.5s, opacity 0.5s linear;

    &.fixed {
      opacity: 0.5;
      transition: opacity 0.5s linear;
    }
  }
}

.header-app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  padding-right: 20px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .header-app-logo {
    height: 6vmin;
    margin-right: 20px;
  }
}

.header-nav-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;

  .header-nav-icon-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    visibility: hidden;
    position: absolute;
    right: 0;

    .header-nav-icon {
      cursor: pointer;
      max-width: 25px;
      margin: 0 var(--space-border);
    }
  }
}

.app-menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--light-color);
  padding: 30px 30px 0 30px;

  .app-menu-item {
    display: flex;
    flex: 1;

    .app-menu-item-container {
      flex: 1;

      .app-menu-item-header {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex: 1;
        font-size: 18px;
        font-weight: lighter;
        margin-bottom: var(--space-bottom-separator);
      }

      .app-menu-list-item {
        display: flex;
        font-size: 14px;
        font-weight: lighter;
        margin: 0 5px 10px 18px;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .header {
    .header-nav-container {
      visibility: hidden;

      .header-nav-icon-container {
        visibility: visible;
      }
    }
  }
}
