.header {
  display: flex;
  align-items: flex-start;
  height: 0.1%;

  background-color: #282c34;
  min-height: 12vh;
  font-size: calc(10px + 2vmin);
}

.header-app-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;

  .header-app-logo {
    animation: header-logo-spin infinite 20s linear;
    height: 10vmin;
  }
}

.header-nav-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

@keyframes header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
