@media only screen and (max-width: 750px) {
  .header {
    .header-nav-container {
      visibility: hidden;

      .header-nav-icon-container {
        visibility: visible;
      }
    }
  }
}

.header {
  top: 0px;
  position: fixed;
  width: 100%;
  display: block;

  .header-content {
    display: flex;
    flex: 1;
    height: var(--header-height);

    &.fixed {
      background-color: var(--dark-color);
    }
  }
}

.header-app-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;

  .header-app-logo {
    // animation: header-logo-spin infinite 20s linear;
    height: 10vmin;
    padding: 20px;
  }
}

.header-nav-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;

  .header-nav-icon-container {
    visibility: hidden;
    position: absolute;
    right: 0;

    .header-nav-icon {
      max-width: 25px;
    }
  }
}

@keyframes header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
