.app {
  text-align: center;

  .app-background {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    z-index: -1;
  }

  .container {
    &.container-small {
    }

    .app-side-menu {
      position: fixed;
      min-width: 40vmin;
      min-height: 100%;
      right: 0;
      background-color: var(--light-color);
      border-radius: 4px;

      .app-side-menu-close-btn {
        cursor: pointer;
        position: absolute;
        width: 20px;
        top: 0;
        right: 0;
        padding: 20px;
        z-index: 1;

        &:hover {
          width: 25px;
        }
      }

      .app-side-menu-list {
        padding: 20px;
        display: flex;
        flex: 1;
        flex-direction: column;

        .app-side-menu-item {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;

          .app-side-menu-item-header {
            font-size: var(--header-font-size);
            font-weight: lighter;
            margin-bottom: 10px;
          }

          .app-side-menu-list-item {
            display: flex;
            font-size: 18px;
            font-weight: lighter;
            margin: 0 5px 10px 18px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .app {
    .container {
      .app-side-menu {
        width: 100%;
      }
    }
  }
}
